* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  background-color: lightblue;
  padding: 10px;
}

ul {
  background-color: lightpink;
}

li a {
  color: rgb(91, 91, 91);
  background-color: rgb(255, 183, 255);
  border: 2px solid black;
}

li {
  margin-bottom: 10px;
}